* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    -webkit-font-smoothing: antialiased !important; /*deixa as fontes com a resolução um pouco melhor*/
    background-color: #F3F5F7;
  }