:root {
    --dark-10: #181818;
    --dark-20: #474747;
    --dark-30: #EBE9EA;
    --dark-40: #F9F9F9;
    --brand-color: #00AEFF;
}

container {
    text-align: center;
}

header .top p {
    font-size: 16px;
    padding: 20px 0;
}

header .top h3 {
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
}

header .discount {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color);
    gap: 20px;
}

#btn-modal {
    width: 20px;
    height: 20px;
    background-color: var(--brand-color);
    border: none;
}

#btn-modal:hover {
    cursor: pointer;
}

svg:hover path {
    fill: var(--dark-40);
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 60%;
  }

  .modal-content img {
    width: 150px;
  }
  
  /* The Close Button */
  .close {
    float: right;
    font-size: 32px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: var(--brand-color);
    text-decoration: none;
    cursor: pointer;
  }
/* Fim do modal */

header .header-img {
    position: relative;
    background: url('../img/wallpaper.jpeg') no-repeat center/cover;
    filter: brightness(50%);
    height: 40vh;
}

header .top-img {
    position: absolute;
    text-align: left;
    color: var(--dark-40);
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 240px;
    margin: 0 20px;
}

header .top-img h3 {
    font-size: 28px;
    font-weight: 700;
}

header .top-img p {
    font-size: 16px;
    font-weight: 600;
    line-height: 28.8px;
}

.highlights {
    padding: 60px 20px;
    align-items: center;
    text-align: center;
}

.highlights h3 {
    font-size: 28px;
    font-weight: 600;
}

.highlights p {
    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
    padding-top: 20px;
}

.container-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-imgs img {
    background-color: var(--dark-30);
    min-width: 250px;
    height: auto;
    display: block;
    margin: 0 20px 30px 20px;
    padding: 60px;
}

.container-imgs img:hover {
    cursor: pointer;
}

footer {
    background-color: var(--dark-10);
    color: var(--dark-40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 20px;
    gap: 60px;
    font-size: 16px;
}

footer .rights img {
    width: 150px;
    filter: invert(20%);
}

footer a{
    color: var(--brand-color);
    opacity: 0.8;
}

footer a:hover {
    color: var(--dark-30);
    opacity: 0.5;
}

/* ------------------ RESPONSIVO ------------------ */

@media screen and (min-width:1120px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 60px 120px;
    }
    
    footer .credits {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        line-height: 28px;
        font-size: 14px;
    }
}

@media screen and (min-width:1550px){
    .container-imgs {
        justify-content: space-between;
        margin: 0 100px 60px 100px;
    }

    .container-imgs img {
        width: 415px;
        margin: 0 0 30px 0;
    }

    .container-imgs img:hover {
        scale: 1.1;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    }

    header .top-img {
        top: 225px;
        margin-left: 100px;
    }

    header .top-img h3 {
        font-size: 48px;
        font-weight: 600;
    }
    
    header .top-img p {
        width: 640px;
        font-size: 24px;
        font-weight: 500;
        line-height: 38.4px;
    }

    .highlights h3 {
        font-size: 32px;
    }
    
    .highlights p {
        font-size: 20px;
    }
}