:root {
    --dark-10: #1F2326;
    --dark-20: #FFFFFF;
    --brand-color: #FF4656;
    --blue: #0072D2;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #FFFF;
    background-color: var(--brand-color);
}

.bg {
    position: relative;
}

.bg-black {
    background-color: var(--dark-10);
    height: 100vh;
    -webkit-clip-path: polygon(0 0, 100% 0%, 26% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 26% 100%, 0% 100%);
}

header {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 40px 150px;
}

header img:hover {
    cursor: pointer;
    filter: invert(59%) sepia(78%) saturate(1620%) hue-rotate(326deg) brightness(97%) contrast(111%);
}

.left {
    position: absolute;
    z-index: 2;
    top: 300px;
    left: 150px;
}

.left .logo {
    padding-bottom: 60px;
}

.left .logo:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.7s;
    cursor: pointer;
}

.left .cards {
    display: flex;
    gap: 30px;
    text-align: center;
}

.left .cards .agent {
    display: flex;
    flex-direction: column;
}

.left .cards .agent img {
    width: 170px;
    position: relative;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.left .cards .agent img:hover {
    transform: scale(1) translate(-10px, -30px);
}

.left .cards .agent span {
    padding-top: 15px;
    font-size: 18px;
}

.img-group {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-border {
    position: absolute;
    border: 1.7px solid #fff;
    width: 100%;
    height: 85%;
    left: -13px;
    top: -13px;
    -webkit-clip-path: polygon(12% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 11%);
    clip-path: polygon(12% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 11%);
}

.img-border:after {
    content: "";
    background: #ffffff;
    width: 2px;
    height: 40px;
    position: absolute;
    top: -8px;
    right: 161px;
    z-index: 5;
    -webkit-transform: rotate(47deg);
            transform: rotate(47deg);

}

.right {
    position: absolute;
    display: flex;
    justify-content: right;
    right: 42px;
    bottom: 0;
    z-index: 2;
}

.right img:hover {
    filter: drop-shadow(8px 8px 4px #1F2326);
}

footer {
    position: absolute;
    z-index: 3;
    bottom: 10px;
    right: 2px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    padding-right: 15px;
    gap: 10px;
}

footer p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    letter-spacing: 1.5px;
    opacity: 0.6;
}

footer i {
    font-size: 20px;
}

footer .github,
footer .linkedin {
    border-radius: 50%;
    padding: 12px;
    background-color: var(--brand-color);
    opacity: 0.6;
}

footer .github:hover {
    opacity: 1;
    background-color: var(--dark-10);
    transition: ease-in 0.3s;
}

footer .linkedin:hover {
    opacity: 1;
    background-color: var(--blue);
    transition: ease-in 0.3s;
}