:root {
    --dark-10: #171717;
    --dark-20: #333333;
    --dark-30: #828282;
    --dark-40: #F9F9F9;

    --blue: #1F7CFF;
    --gray: #575455;
    --pink: #f91486;
    --red: #F75C4E;
}

h2.red {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F75C4E;
    text-align: center;
}

h1.black {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 50px;
    color: #000000;
    text-align: center;
}

p {
    text-align: justify;
    line-height: 32px;
}

section {
    padding-top: 150px;
}

body {
    margin: 0 15%;
    color: var(--gray);
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark-40);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    position: fixed;
    top: 0;
    width: 70%;
    z-index: 99;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

nav ul {
    display: flex;
    gap: 25px;
    font-size: 16px;
    align-items: center;
}

nav button.theme {
    padding: 15px;
    border: 1px solid var(--dark-30);
    border-radius: 5px;
    filter: opacity(0.6);
    background: url('../img/moon-regular.svg') no-repeat center;
    background-size: 15px;
    cursor: pointer;
    background-color: transparent;
}

nav button.theme:hover {
    background-color: #ddd;
}

/* --- Dark Mode --- */
.dark {
    background-color: var(--dark-10);
    color: var(--dark-30);
}

.dark header {
    /* From https://css.glass */
    border: none;
    background: rgba(24, 23, 23, 0.514);
    color: var(--dark-40);
}

.dark nav ul li {
    color: var(--dark-40);
}

.dark nav button.theme {
    background: url('../img/brilho-do-sol.png') no-repeat center;
    background-size: 18px;
    filter: invert(70%);
}

.dark #text,
.dark #about-studies .black-ct,
.dark .black {
    color: var(--dark-40);
}

.dark .certificate img {
    background-color: var(--dark-40);
    opacity: .8;
    border-radius: 20px;
}

.dark .project {
    border: .1px solid #353535;
}

/* --- Fim Dark Mode --- */

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}

main .describe #text {
    font-size: 45px;
    font-weight: 700;
}

main .describe p {
    font-size: 24px;
}

main .photo {
    width: 330px;
    height: 330px;
    border-radius: 0 80px;
}

main ul {
    display: flex;
    gap: 30px;
    padding: 60px 0 30px 10px;
}

main ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
}

main .btn-describe {
    display: flex;
    gap: 20px;
}

.custom-btn {
    width: 150px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-download {
    background: var(--pink);
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-download span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-download:before,
.btn-download:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: var(--pink);
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.btn-download:before {
    height: 0%;
    width: 2px;
}

.btn-download:after {
    width: 0%;
    height: 2px;
}

.btn-download:hover {
    color: var(--pink);
    background: transparent;
}

.btn-download:hover:before {
    height: 100%;
}

.btn-download:hover:after {
    width: 100%;
}

.btn-download span:before,
.btn-download span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: var(--pink);
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.btn-download span:before {
    width: 2px;
    height: 0%;
}

.btn-download span:after {
    height: 2px;
    width: 0%;
}

.btn-download span:hover:before {
    height: 100%;
}

.btn-download span:hover:after {
    width: 100%;
}

.custom-btn-ct {
    width: 160px;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-contact {
    background-color: transparent;
    border: 1px solid #ddd;
    z-index: 10;
}

.btn-contact:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -10;
    background-color: #ddd;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}

.btn-contact:hover {
    border: transparent;
}

.btn-contact:hover:after {
    left: 0;
    width: 100%;
}

.btn-contact:active {
    top: 2px;
}

#about-me p {
    text-align: center;
}

#about-me .contacts {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

#about-me .contacts .contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid transparent;
    align-items: center;
    padding: 45px 15px;
}

#about-me .contacts .contacts-container i {
    font-size: 32px;
    color: var(--dark-40);

    background-color: #212121;
    border-radius: 50px;
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me .contacts .contacts-container span {
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
}

#about-me .contacts .contacts-container p {
    font-size: 14px;
}

#about-me .contacts .contacts-container:hover {
    border: 2px solid var(--dark-30);
    border-radius: 40px;
    cursor: pointer;
}

#about-me .contacts .contacts-container:hover>i {
    background-color: #f91486;
}

#about-studies .about-pt1,
#about-studies .about-pt2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
}

#about-me p,
#about-studies p {
    line-height: 42px;
}

#about-studies span {
    font-weight: 700;
}

#about-studies .img-pt1 {
    width: 300px;
}

#about-studies .img-pt2 {
    width: 400px;
}

#about-studies .black-ct {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 54px;
    margin-top: 50px;
    color: #000000;
}

#about-studies .red-ct {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F75C4E;
    margin-bottom: 50px;
}

#about-studies .certificates-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
}

#about-studies .certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

#about-studies .certificate:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: .5s;
}

#about-studies .certificate span {
    font-size: 14px;
    font-weight: normal;
}

#about-studies .open {
    position: relative;
}

.open {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.open .title {
    /* border: 2px solid #FF725E;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    padding: 24px 8em;
    text-align: center;
    margin-top: 60px; */

    /* segunda opção */
    background-color: var(--blue);
    color: var(--dark-40);
    border-radius: 40px;
    cursor: pointer;
    display: block;
    padding: 10px 10em;
    margin-top: 60px;
    text-align: center;
}

.open .title:hover {
    background-color: var(--pink);
}

.open i {
    padding-right: 15px;
}

.open ul {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: .2s;
    text-align: justify;
    margin-top: 30px;
}

.open.ativa ul {
    height: fit-content;
    opacity: 1;
    text-align: justify;
}

.open li {
    padding-top: 20px;
    list-style: inside;
}

.open p {
    padding-left: 23px;
}

.open h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: var(--blue);
    padding-top: 40px;
}

#projects .projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

#projects .project {
    width: 400px;
    height: 580px;
    border-radius: 10px;
    box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}

#projects .project img {
    width: 400px;
    height: 205px;
    border-radius: 10px 10px 0 0;
}

#projects .projects-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 15px;
}

#projects .project .describe-project {
    margin: 25px 15px;
    font-size: 14px;
}

.project .tecno {
    font-weight: 600;
    font-size: 15px;
    margin-left: 15px;
}

#projects .project p {
    margin: 5px 15px;
    font-size: 14px;
}

#projects .project .btn-project {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
    margin-right: 15px;
    position: absolute;
    bottom: 5%;
    right: 1%;
}

.btn-project i:hover {
    color: var(--pink);
}

#projects .project span {
    font-weight: 600;
    padding: 0 5px;
}

[data-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-tooltip]:hover {
    color: var(--blue);
}

[data-tooltip]:after {
    display: none;
    position: absolute;
    padding: 5px;
    bottom: calc(100% + 10px);
    content: attr(data-tooltip);
    width: 150px;
    background-color: #ddd;
    border-radius: 15px;
    color: var(--blue);
    text-align: center;
    z-index: 15;
}

[data-tooltip]:hover:after {
    display: block;
}

#services .services-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#services .services-container .services {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px;
    background-color: #1F7CFF;
}

#skills .skills-container {
    display: flex;
    justify-content: center;
    gap: 70px;
}

#skills .skills-container i {
    font-size: 80px;
    color: var(--pink);
    padding: 40px;
    background-color: var(--dark-30);
}

/* BOTÃO VOLTAR AO TOPO */
#back-to-top {
    position: fixed;
    bottom: 25px;
    right: 35px;
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(216, 216, 216);
    border: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#back-to-top:hover {
    background-color: #1F7CFF;
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}