:root {
    --brand-color: #628E75;
    --dark-10: #FFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 25px 40px 25px;
}

header .logo {
    width: 100px;
}

header .socials img {
    margin-left: 20px;
}

header .socials img:hover {
    cursor: pointer;
    scale: 1.1;
}

header .socials button {
    border: none;
    background-color: transparent;
}

header .socials #song-on,
header .socials #song-off {
    width: 20px;
    height: 20px;

    border: 1px solid #000;
    padding: 3px;
    border-radius: 50%;
    filter: invert(72%) sepia(82%) saturate(2%) hue-rotate(294deg) brightness(102%) contrast(101%);
}

header .socials #song-off {
    display: none;
}

main {
    margin: 25px;
}

main .image {
    display: flex;
    justify-content: center;
}

main .image img {
    width: 300px;
    transform: translateY(0px);
    /*imagem começa no eixo 0 e tem animação a partir do keyframe*/
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

main .text h3,
main .text h1 {
    text-transform: uppercase;
}

main .text h3 {
    font-size: 18px;
}

main .text h1 {
    font-weight: 900;
    font-size: 56px;
    line-height: 61px;
    padding: 10px 0 20px 0;
}

main .text p {
    font-size: 14px;
    line-height: 25px;
}

main .buttons {
    display: flex;
    flex-direction: column;
    margin: 70px 5px;
    gap: 10px;
}

main .buttons .play,
main .buttons .trailer {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;
    height: 45px;
    width: 225px;

    background-color: var(--brand-color);
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);

    text-transform: uppercase;
    color: var(--dark-10);
    font-weight: 500;
    font-size: 16px;
    gap: 15px;
}

main .buttons img,
main .buttons span {
    transform: skew(30deg);
}

main .buttons .play:hover,
main .buttons .trailer:hover {
    cursor: pointer;
    background: linear-gradient(154.76deg, #628E75 3%, #1A4855 84.12%);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 120px 25px 40px 25px;
    gap: 60px;
}

footer .rights img {
    width: 100px;
}

footer .p-rights {
    font-size: 12px;
}

footer .dev span,
footer .layout span {
    font-weight: 600;
    text-transform: uppercase;
}

footer .dev p,
footer .layout p {
    font-size: 15px;
    padding-top: 5px;
}

footer i {
    font-size: 22px;
    padding: 12px 5px;
}

footer a {
    color: var(--brand-color);
}

footer a:hover {
    color: var(--dark-10);
    cursor: pointer;
}