:root {
    --brand-color: #6610F2;
    --dark-10: #2F2F2F;
    --dark-20: #EAEAEA;
    --dark-30: #F9F9F9;
}

body {
    margin: 45px 20%;
    background-color: var(--dark-30);
}

nav {
    display: flex;
    justify-content: space-between;
}

nav h2 {
    font-family: 'Lora', serif;
    font-size: 32px;
}

.btn-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .search {
    border: 2px solid var(--dark-20);
    border-radius: 50%;
    padding: 11px;
}

nav .btn-login {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 18px;

    padding: 15px 48px;
    border: 2px solid var(--dark-20);
    border-radius: 100px;
    background: transparent;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin: 120px 0;
}

main .first {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0;
}

main .second { 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
}

main .first .brimstone,
main .second .reyna {
    position: relative;
    top: -50px;
}

main .second .yoru {
    position: relative;
    top: -30px;
    left: 30px;
}

main .second .raze {
    position: relative;
    top: 80px;
}
main .first .text p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
}

main .first .text h1 {
    font-family: 'Lora', serif;
    max-width: 792px;
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
}

main .btn-main {
    display: flex;
    justify-content: center;
    gap: 60px;
}

main .create,
main .library {
    text-transform: uppercase;
    padding: 15px 60px;
    border-radius: 6px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    border: 2px solid var(--dark-20);
    background-color: var(--dark-30);
    cursor: pointer;
    line-height: 29.05px;
}

main .create {
    background-color: var(--brand-color);
    border: none;
    color: var(--dark-30);
}