:root {
    --brand-color: #6610F2;
    --dark-10: #2F2F2F;
    --dark-20: #EAEAEA;
    --dark-30: #F9F9F9;
    --dark-40: #FFFFFF;
}

body {
    margin: 45px 20% 0 20%;
    background-color: var(--dark-30);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-family: 'Lora', serif;
    font-size: 32px;
}

nav {
    display: flex;
    gap: 20px;
}

nav .search-box i {
    font-size: 25px;
    color: var(--dark-10);
}

nav .search-box {
    position: relative;
    display: flex;
    border: 2px solid var(--dark-20);
    background-color: var(--dark-40);
    align-items: center;
    height: 55px;
    padding: 12px;
    border-radius: 40px;
}

nav .search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: var(--dark-10);
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .8s;
}

nav .search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

nav .btn-login {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;

    padding: 15px 48px;
    border: 2px solid var(--dark-20);
    border-radius: 100px;
    background-color: var(--dark-40);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin: 120px 0;
}

main .first {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0;
}

main .second {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
}

/* --- Posição das imagens --- */
main .first .brimstone,
main .second .reyna {
    position: relative;
    top: -50px;
}

main .second .yoru {
    position: relative;
    top: -30px;
    left: 30px;
}

main .second .raze {
    position: relative;
    top: 80px;
}
/* --- Final da posição das imagens --- */

/* --- Início animação --- */
.bounce {
    -webkit-animation: bounce 2s both;
    animation: bounce 2s both;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

/* --- Fim animação --- */

main .first .text p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
}

main .first .text h1 {
    font-family: 'Lora', serif;
    max-width: 792px;
    font-size: 64px;
}

main .btn-main {
    display: flex;
    justify-content: center;
    gap: 60px;
}

main .create,
main .library {
    text-transform: uppercase;
    padding: 15px 60px;
    border-radius: 6px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    border: 2px solid var(--dark-20);
    background-color: var(--dark-40);
    cursor: pointer;
}

main .create {
    background-color: var(--brand-color);
    border: none;
    color: var(--dark-30);
}

article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-20);
    padding: 60px 65px;
    gap: 8em;
}

section h2::before {
    content: '';
    height: 30px;
    width: 3px;
    background-color: var(--brand-color);
    margin-right: 10px;
}

section h2 {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--dark-10);
}

section p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    padding-top: 25px;
}

footer {
    text-align: center;
    padding: 80px 0;
    font-family: 'Inter', sans-serif;
}

footer figure {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 25px;
}

footer figure .github,
footer figure .linkedin,
footer figure .figma,
footer figure .discord {
    color: var(--dark-10);
    padding: 12px 14px;
    background-color: var(--dark-40);
    border: 2px solid var(--dark-20);
    border-radius: 50%;
    outline: none;
}

footer figure .github:hover {
    color: var(--dark-40);
    border: 2px solid var(--dark-10);
    background-color: var(--dark-10);
}

footer figure .linkedin:hover {
    color: var(--dark-40);
    border: 2px solid #0E76AE;
    background-color: #0E76AE;
}

footer figure .figma:hover {
    color: var(--dark-40);
    border: 2px solid #faa931;
    background-color: #faa931;
}

footer figure .discord:hover {
    color: var(--dark-40);
    border: 2px solid #7289DA;
    background-color: #7289DA;
}

footer h3 {
    padding-bottom: 25px;
    text-transform: uppercase;
}

footer p {
    color: var(--dark-10);
    padding-top: 20px;
}

footer span {
    color: var(--dark-20);
    text-shadow: 1px 1px 0 #585858, 1px -1px 0 #585858, -1px 1px 0 #585858, -1px -1px 0 #585858, 1px 0px 0 #585858, 0px 1px 0 #585858, -1px 0px 0 #585858, 0px -1px 0 #585858, 1px 1px 1px rgba(0, 0, 0, 0);
}

footer span:hover {
    color: var(--dark-10);
    text-shadow: none;
    outline: none;
    cursor: pointer;
}